# Regular Expressions Exercises

**Do not** use any AI help in solving it.

### Exercise 0 (Example Solution)
Find all occurrences of the word 'Python' (case-sensitive) in a given text.

In [ ]:
import re
text = 'I love Python because Python is amazing.'
pattern = r'Python'
matches = re.findall(pattern, text)
print('Matches found:', matches)  # Expected output: ['Python', 'Python']

### Exercise 1
Find all occurrences of the word 'Python' (case-sensitive) in a given text.

In [ ]:
# Your solution here

### Exercise 2
Find all sequences of digits in a text.

In [ ]:
# Your solution here

### Exercise 3
Extract all words that start with a capital letter.

In [ ]:
# Your solution here

### Exercise 4
Match all valid email addresses.

In [ ]:
# Your solution here

### Exercise 5
Find all words that contain at least one digit.

In [ ]:
# Your solution here

### Exercise 6
Replace all instances of 'colour' with 'color'.

In [ ]:
# Your solution here

### Exercise 7
Extract all words that are exactly 5 letters long.

In [ ]:
# Your solution here

### Exercise 8
Find all dates in the format DD/MM/YYYY or DD-MM-YYYY.

In [ ]:
# Your solution here

### Exercise 9
Extract all hashtags from a tweet.

In [ ]:
# Your solution here

### Exercise 10
Match all words that do not contain vowels.

In [ ]:
# Your solution here

### Exercise 11
Find all words that start with 'pre' and are at least 6 characters long.

In [ ]:
# Your solution here

### Exercise 12
Validate a password with at least one uppercase, one lowercase, one digit, and at least 8 characters.

In [ ]:
# Your solution here

### Exercise 13
Find all repeated words in a text (e.g., 'the the').

In [ ]:
# Your solution here

### Exercise 14
Extract all domain names from URLs.

In [ ]:
# Your solution here

### Exercise 15
Validate a properly formatted IPv4 address.

In [ ]:
# Your solution here

### Exercise 16
Match all valid Twitter handles.

In [ ]:
# Your solution here

### Exercise 17
Find all numbers written in words (e.g., 'one', 'two', 'three').

In [ ]:
# Your solution here

### Exercise 18
Find all words that contain double letters.

In [ ]:
# Your solution here

### Exercise 19
Extract quoted text from a sentence.

In [ ]:
# Your solution here

### Exercise 20
Match sentences ending with a question mark.

In [ ]:
# Your solution here